<%for(let article of articles) { %>

<div class="container mb-5">
  <div class="row">
    <div class="col-4">
      <img src="<%= article.image  %>" class="img-fluid" alt="img-articulo" />
    </div>
    <div class="col-8">
      <div class="border-bottom mb-2">
        <h3 class="fw-bold"><%= article.title %></h3>
        <p><%= article.content %></p>
        <div>
          <a class="btn-ver-mas text-decoration-none" href="/articulos/<%= article.id %>"
            >Ver mas...</a
          >
        </div>
      </div>
      <span class="fst-italic"><%=format(article.createdAt,"dd MMMM yyyy") %></span>
    </div>
  </div>
</div>
<% } %>
