<% const firstArticle =articles[0] %> <% const secondArticle = articles[1] %> <% const thirdArticle
= articles[2] %>

<section class="container">
  <div
    class="carousel carousel-dark slide w-100 mx-auto"
    data-bs-ride="carousel"
    id="carouselExampleControls"
  >
    <div class="carousel-inner my-5">
      <div class="carousel-item active">
        <% if (firstArticle.image.includes("http")) {%>
        <a class="text-decoration-none" href="/articulos/<%= firstArticle.id %>">
          <img
            src="<%=firstArticle.image  %>"
            class="img-fluid d-block mx-auto rounded imageCar"
            alt="img-articulo"
          />
          <%} else {%>
          <img
            src="/img/<%= firstArticle.image  %>"
            class="img-fluid d-block mx-auto rounded imageCar"
            alt="img-articulo"
          />

          <%}%>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white fs-3"><%= firstArticle.title%></h5>
            <p class="text-white"><%= firstArticle.content.slice(0,12) %></p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <% if (secondArticle.image.includes("http")) {%>
        <a class="text-decoration-none" href="/articulos/<%= secondArticle.id %>">
          <img
            src="<%=secondArticle.image  %>"
            class="img-fluid d-block mx-auto rounded imageCar"
            alt="img-articulo"
          />
          <%} else {%>
          <img
            src="/img/<%= secondArticle.image  %>"
            class="img-fluid d-block mx-auto rounded imageCar"
            alt="img-articulo"
          />

          <%}%>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white fs-3"><%= secondArticle.title%></h5>
            <p class="text-white"><%= secondArticle.content.slice(0,12) %></p>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <% if (thirdArticle.image.includes("http")) {%>
        <a class="text-decoration-none" href="/articulos/<%= thirdArticle.id %>">
          <img
            src="<%=thirdArticle.image  %>"
            class="img-fluid d-block mx-auto rounded imageCar"
            alt="img-articulo"
          />
          <%} else {%>
          <img
            src="/img/<%= thirdArticle.image  %>"
            class="img-fluid d-block mx-auto rounded imageCar"
            alt="img-articulo"
          />

          <%}%>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="text-white fs-3"><%= thirdArticle.title%></h5>
            <p class="text-white"><%= thirdArticle.content.slice(0,12) %></p>
          </div>
        </a>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
