<% const firstArticle =articles[0] %> <% const secondArticle = articles[1] %> <% const thirdArticle
= articles[2] %>

<section class="container">
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner my-5">
      <div class="carousel-item active">
        <% if (firstArticle.image.includes("http")) {%>
        <img
          src="<%=firstArticle.image  %>"
          class="img-fluid d-block mx-auto rounded"
          alt="img-articulo"
        />
        <%} else {%>
        <img
          src="/img/<%= firstArticle.image  %>"
          class="img-fluid d-block mx-auto rounded"
          alt="img-articulo"
        />
        <%}%>

        <div class="carousel-caption d-none d-md-block">
          <h5><%= firstArticle.title%></h5>
          <p><%= firstArticle.content.slice(0,12) %></p>
        </div>
      </div>
      <div class="carousel-item">
        <% if (secondArticle.image.includes("http")) {%>
        <img
          src="<%=secondArticle.image %>"
          class="img-fluid d-block mx-auto rounded"
          alt="img-articulo"
        />
        <%} else {%>
        <img
          src="/img/<%= secondArticle.image  %>"
          class="img-fluid d-block mx-auto rounded"
          alt="img-articulo"
        />
        <%}%>

        <div class="carousel-caption d-none d-md-block">
          <h5><%= secondArticle.title%></h5>
          <p><%= secondArticle.content.slice(0,12) %></p>
        </div>
      </div>
      <div class="carousel-item">
        <% if (thirdArticle.image.includes("http")) {%>
        <img
          src="<%=thirdArticle.image %>"
          class="img-fluid d-block mx-auto rounded"
          alt="img-articulo"
        />
        <%} else {%>
        <img
          src="/img/<%= thirdArticle.image  %>"
          class="img-fluid d-block mx-auto rounded"
          alt="img-articulo"
        />
        <%}%>

        <div class="carousel-caption d-none d-md-block">
          <h5 class="fw-bold"><%= thirdArticle.title%></h5>
          <p><%= thirdArticle.content.slice(0,12) %></p>
        </div>
      </div>
    </div>
  </div>
</section>
