<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%-include("partials/navbar") %>
    <section class="container">
      <div class="m-5 p-3">
        <div class="text-center">
          <div class="border-bottom">
            <h3 class="fw-bold"><%= article.title %></h3>
            <small class="fst-italic"
              >Autor: <%= article.user.firstname %> <%= article.user.lastname %></small
            >
            <small class="fst-italic">| <%=article.user.email %></small>
            <!-- <span class="fst-italic"><%= article.createdAt %></span>-->
          </div>
          <img src="<%= article.image  %>" class="img-fluid m-3" alt="img-articulo" />
        </div>

        <p><%= article.content %></p>

        <% for (const comment of article.comments) { %>
        <div class="card-black">
          <div class="row">
            <div class="col-2">
              <img
                src="<%= article.user.avatar  %>"
                class="img-fluid m-3 avatar"
                alt="img-avatar"
              />
            </div>
            <div class="col-10">
              <h5>Nombre del que hace el comentario</h5>
              <small><%= comment.createdAt %></small>
              <p class="fst-italic"><%= comment.content %></p>
            </div>
          </div>
        </div>
        <% } %>

        <form>
          <label for="#" class="form-label"> Enviar Comentario</label>

          <div>
            <textarea
              class="form-control mb-3"
              placeholder="Ingrese su comentario aquí..."
              id="comment"
              name="comment"
              style="height: 100px"
            ></textarea>
          </div>

          <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" />
          </div>
          <div class="mb-5">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              aria-describedby="emailHelp"
              placeholder="Email"
            />
            <div id="emailHelp" class="form-text">
              Tu dirección de correo electrónico no será publicada.
            </div>
          </div>

          <button class="btn-enviar-comentario mb-5" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span> Enviar Comentario
          </button>
        </form>
      </div>
    </section>

    <%-include("partials/footer") %>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
